.header {
    display: flex;
    justify-content: center;
  }
  
  .nav {
    width: 1456px;
    height: 72px;
  
    padding: 0 64px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
  }
.logo{
    width: 125px;
    height: 47px;
    font-family: "Inter", sans-serif;
    font-weight: 800;              /* Extra Bold */
    font-size: 30px;
    line-height: 150%;             /* = 45px */
    letter-spacing: 0;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
}  
.nav-links{
    width: 942px;
  height: 24px;
  opacity: 1;
  display: flex;
  gap: 32px;

}